# Default browser, if nothing else matches, is Safari.
[DEFAULT]
action=safari

# Requests to app.asana.com goes to Chrome.
[asana]
hostname=app.asana.com
action=chrome

# If the url looks like urldefense.proofpoint.com/v1/url, then take
# the URL in the query param 'u', and process that through the rules.
[proofpoint]
hostname=urldefense.proofpoint.com
path=/v1/url
query_select=u
action=unwrap
